<script setup>
import BreezeAuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import { Head } from "@inertiajs/vue3";
import BreezeButton from "@/Components/DangerButton.vue";
import { useForm } from "@inertiajs/vue3";

const props = defineProps({
    contact: {
        type: Object,
        default: () => ({}),
    },
});

const form = useForm({
    id: props.contact.id,
    name: props.contact.name,
    email: props.contact.email,
    phone: props.contact.phone,
});


const submit = () => {
    form.put(route("contacts.update", props.contact.id));
};
function destroy(id) {
    if (confirm("Are you sure you want to Delete")) {
        form.delete(route('contacts.destroy', id));
    }
}
</script>

<template>
    <Head name="Contact Edit" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="text-xl font-semibold leading-tight text-gray-800">
                Contact Edit
            </h2>
        </template>

        <div class="py-12">
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="overflow-hidden bg-white shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <form @submit.prevent="submit">
                            <div class="mb-6">
                                <label
                                    for="Name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    >Name</label
                                >
                                <input
                                    type="text"
                                    v-model="form.name"
                                    name="name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder=""
                                />
                                <div
                                    v-if="form.errors.name"
                                    class="text-sm text-red-600"
                                >
                                    {{ form.errors.name }}
                                </div>
                            </div>
                            <div class="mb-6">
                                <label
                                    for="Email"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    >Email</label
                                >
                                <input
                                    type="text"
                                    v-model="form.email"
                                    name="name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    placeholder=""
                                />
                                <div
                                    v-if="form.errors.email"
                                    class="text-sm text-red-600"
                                >
                                    {{ form.errors.email }}
                                </div>
                            </div>
                            <div class="mb-6">
                                <label
                                    for="phone"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                    >Phone</label
                                >
                                <input
                                    type="text"
                                    v-model="form.phone"
                                    name="phone"
                                    
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                />

                                <div
                                    v-if="form.errors.phone"
                                    class="text-sm text-red-600"
                                >
                                    {{ form.errors.phone }}
                                </div>
                            </div>
                            <button
                                type="submit"
                                class="text-white bg-blue-700  focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 "
                                :disabled="form.processing"
                                :class="{ 'opacity-25': form.processing }"
                            >
                                Submit
                            </button>
                        </form>
                        <BreezeButton
                                                class="bg-red-700 mt-5"
                                                @click="destroy(contact.id)"
                                            >
                                                Delete
                                            </BreezeButton>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>